{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- 🔹 Sección de acerca -->
<section class="acerca">
    <div class="about-card">
        <div class="info">
            <h3 class="subtitulo">SOBRE NOSOTROS</h3>
            <h2 class="titulo" style="font-style: italic;">"Donde Cada Estancia se Convierte en un Recuerdo Inolvidable"</h2>
            <h3 class="subtitulo2">Nuestra Historia</h3>
            <p class="texto" style="text-align: center;">
            Hace más de dos décadas, nació un sueño: crear un refugio en el corazón de la zona turística de la ciudad donde los viajeros no solo se 
            hospedaran, sino que vivieran experiencias que atesoraran para siempre. Lo que comenzó como una pequeña posada familiar hoy es un hotel 
            de referencia, creciendo hasta nuestras 38 habitaciones cuidadosamente diseñadas, pero sin perder nunca nuestra esencia: la calidez de un 
            trato personalizado y la atención a cada detalle.
            </p>

            <h3 class="subtitulo2">Nuestra Esencia</h3>
            <p class="texto" style="text-align: center;">
            Creemos que un hotel es mucho más que un lugar para dormir; es el escenario de reencuentros, el punto de partida de nuevas aventuras y 
            el espacio donde se forjan momentos únicos. Por eso, nos esforzamos cada día por ofrecer un equilibrio perfecto entre confort moderno y 
            un ambiente cálido y familiar.
            </p>

            <h3 class="subtitulo2">Nuestro Compromiso</h3>
            <p class="texto" style="text-align: center;">
            Desde nuestras acogedoras habitaciones Turista hasta nuestras exclusivas Suites Premium, cada espacio ha sido pensado para adaptarse a 
            las necesidades de viajeros solitarios, parejas y familias. Este compromiso se extiende más allá de las habitaciones, hacia experiencias 
            que complementan la estancia, como los sabores auténticos de nuestro restaurante y la relajación profunda en nuestro spa.
            </p>

            <h2 style="font-style: italic;">Te invitamos a ser parte de nuestra historia y a dejar que cuidemos de ti.</h2>
        </div>

    </div>

</section>


{% endblock %}
